<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="assets/DDV-L-icon-white.svg" alt="logo">
        <h1>Desert Dog Ventures</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/services">Services</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Projects</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Notification Center</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Forms" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Support Request</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>New Project</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Data Release</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Feedback</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Billing" nzIcon="bank">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Overview</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Open Invoices</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Subscription</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>History</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div style=" float: right; ">
          <nz-button-group style="margin-right: 1.4rem;">
            <button nz-button>Chris J</button>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomLeft">
              <i nz-icon nzType="down"></i>
            </button>
          </nz-button-group>

        </div>

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>Profile</li>
    <li nz-menu-item>Settings</li>
    <li nz-menu-item>Help</li>
    <li nz-menu-item>Logout</li>
  </ul>
</nz-dropdown-menu>
